## 데이터 베이스(DB)

---

Data Persistence : 파일 -> DBMS
Data WareHouse : 정보에 입각한 의사결정을 내릴 수 있도록 분석 가능한 정보의 중앙 레파지토리
Data Mining : 대규모로 저장된 데이터 안에서 체계적이고 자동적으로 통계적 규칙이나 패턴을 찾아내는 것

+ 제품의 종류
    * Oracle
    * MS-SQL Server
    * DB2
    * Informix
    * Sybase
    * MYSQL
    * MariaDB
    * MongoDB 등


+ 연결 방식 
    * 로컬 DBMS : 자기 혼자 사용할 수 있는 DB
        - Access
        - SQLite
    * 네트워크 DBMS : 두개의 프로그램이 하나의 패키지로 되어있음(서버용, 클라이언트용)
    

+ MySQL의 클라이언트 프로그램
    * 콘솔용 : Mysql.exe(서버용 : mysqld.exe)
    
    * 윈도우용 : workbench, heidi sql 
    
    
+ 데이터의 저장 형태
    * 계층형 DB : Tree
    * 네트워크형 DB : Graph
    * 관계형 DB : Table
    * 객체지향형 DB
    * 객체관계형 DB
    
    
+ DB의 저장 단위
    * 필드(속성) < 레코드(튜플) < 테이블(릴레이션) < DB
    
    
+ DB 서버에 접속
    * 콘솔 이용
       - mysql -u root -p : mysql 접속
       - mysql -h127.0.0.1 -u root -p : 실제 서버 주소로 접속
       - show databases; : 데이터베이스 조회
       - use db명; : 데이터베이스 사용
       - show tables; : 테이블 조회
       - desc 테이블명; : 테이블의 상태
       
    * 실습 준비
       - 접속되어 있지 않은 상태 : sql파일이 있는 경로로 간 뒤 mysql -r root -p < sql파일명 실행
       - 접속되어 있는 상태 : source ~/dofany/Downlads/scott.sql


+ 백업 방법
    * mysqldump -u root -p world > world.sql
    * mysqldump -u root -p scott > testdb.sql


+ SQL(Structured Query Language)
    * DDL(Data Definition Language) : 데이터 정의어
       - CREATE, ALTER, DROP
       
    * DML(Data Manipulation Language) : 데이터 조작어
       - (SELECT), INSERT, UPDATE, DELETE
       
    * QL(Query Language) : 데이터 질의어
       - SELECT
       
    * DCL(Data Controll Language) : 데이터 제어어(보안, 인증, 시스템관리, 트랜젝션 관리 등)
       - GRANT, REVOKE, ...
       
    * 표준 SQL(ANSI SQL)
    
    * 제품에 따른 SQL
       - Oracle : PL/SQL
       - MS : T-SQL
       

+ SELECT
   * 기본 문법
     - SELECT 필드명1, 필드명2 FROM 테이블명;
     - SELECT * FROM 테이블명;
        - SELECT ename, sal, deptno, job, FROM emp;
        - SELECT * FROM emp;
     
     - 필드의 가공 처리 
        - SELECT empno, ename,sal,sal+200 FROM emp;
     
     - 필드의 alias
        - SELECT ename, mgr as manager, sal+200 as "add salary" FROM emp;
        - SELECT ename, mgr manager, sal+200 "add salary" FROM emp;
     
     - 중복 제거
        - SELECT distinct job FROM emp;
        
   * 확장 문법
      - 정렬 기능 : ORDER BY 필드명 [ASC(오름차순) | DESC(내림차순)], 필드명,...(무조건 맨 마지막에 작성)
        - 급여가 많은 순으로 이름, 급여, 부서코드 조회
        </p>=> SELECT ename,sal,deptno FROM emp ORDER BY sal DESC;
        
        - 부서별로 급여가 적은 순으로 이름, 급여, 부서코드 조회
        </p>=> SELECT ename,sal,deptno FROM emp ORDER BY sal,deptno;

      - 조건 기능(레코드 필터링) : WHERE 조건문
        - 급여가 3000원 이상인 직원의 사번, 이름, 업무, 급여를 조회
        </p>=> SELECT ename, deptno, job, sal FROM emp WHERE = sal >= 3000;
        
        - 업무가 manager인 직원의 이름, 부서, 업무, 급여를 조히
        </p>=> SELECT ename, deptno, job, sal FROM emp WHERE job = 'manager'

        - 부서가 20이고 업무가 analyst인 직원의 이름, 부서, 업무, 급여를 조회
        </p>=> SELECT ename, deptno, job, sal FROM emp WHERE deptno = 20 AND job = 'analyst';

        - 급여가 1500이상 2500 이하를 받는 직원의 이름, 부서, 업무, 급여를 조회
        </p>=> SELECT ename, deptno, job, sal FROM emp WHERE sal >= 1500 and sal <= 2500;
        </p>=> SELECT ename, deptno, job, sal FROM emp WHERE sal BETWEEN 1500 and 2500;
        
        - 급여가 1500이상 2500이하를 받는 직원의 이름, 부서, 업무, 급여를 조회 단, 급여가 많은 순으로 조회
        </p>=> SELECT ename, deptno, job, sal FROM emp WHERE sal BETWEEN 1500 and 2500 ORDER BY sal DESC;
        
        - 업무가 clerk, salesman, analyst인 직원의 이름, 부서, 업무, 급여를 조회
        </p>=> SELECT ename, deptno, job, sal FROM emp WHERE job = 'clerk' or job = 'salesman' or job = 'analyst';
        </p>=> SELECT ename, deptno, job, sal FROM emp WHERE job IN('clerk','salesman','analysy');
        
        - 1982년 1월 1일 이후에 입사한 직원의 이름, 업무, 입사일자를 조회
        </p>=> SELECT ename, job, hiredate FROM emp WHERE hiredate >= '1982-1-1';
        
        - 커미션이 없는 직원의 이름, 부서, 업무, 급여, 커미션을 조회
        </p>=> SELECT ename, deptno, job, sal, comm FROM emp WHERE comm NOT null;
        </p>=> SELECT ename, deptno, job, sal, comm FROM emp WHERE job != 'salesman';
        
        - 커미션이 있는 직원의 이름, 부서, 업무, 급여, 커미션을 조회
        </p>=> SELECT ename, deptno, job, sal, comm FROM emp WHERE comm IS NOT null;
        
     - LIKE 연산자
        - % : 0개 이상의 문자를 대체
        - _ : 1개 문자를 대체하는 기호
        
        - 이룸이 s로 시작하는 직원의 이름, 업무, 급여를 조회
        </p>=> SELECT ename, job, sal FROM emp WHERE ename LIKE 's%';
        
     - GROUP BY 필드명 [,필드명.필드명,...][HAVING 조건문]
        - 부서별로 급여 평균, 최저 급여를 조회
        </p>=> SELECT deptno,avg(sal),min(sal) FROM emp GROUP BY deptno;
        
        - 부서별로 급여평균, 최저 급여를 조회(단, 급여평균이 높은 순으로 조회)
        </p>=> SELECT deptno,avg(sal) as '급여평균',min(sal) as '최저급여'FROM emp GROUP BY deptno ORDER BY avg(sal)DESC;
        
        - 전체 급여의 합계가 5000을 초과하는 업무에 대해 급여 합계를 조회
        </p>=> SELECT job, sum(sal) as '전체 급여' FROM emp GROUP BY job HAVING sum(sal) > 5000;
        
        - 전체 급여의 합계가 5000을 초과하는 업무에 대해 급여 합계를 조회 단, salesman은 제외
        </p>=> SELECT job, sum(sal) as '전체 급여' FROM emp GROUP BY job HAVING sum(sal) > 5000 and job != 'salesman'; 
        </p>=> SELECT job, sum(sal) as '전체 급여' FROM emp WHERE job != 'salesman' GROUP BY job HAVING sum(sal) > 5000;

1. 연습문제 

1) 1981년에 입사한 사람의 이름, 업무, 입사일자 조회
</p>=> SELECT ename,job,sal,hiredate FROM emp WHERE hiredate LIKE '1981%';

2) 사번이 7902, 7788, 7566인 사원의 이름, 업무, 급여, 입사일자 조회
</p>=> SELECT ename, job, sal, hiredate FROM emp WHERE empno in (7902,7788,7566);

3) 업무가 manager, clerk, analyst가 아닌 직원의 이름, 업무, 급여, 부서번호 조회
</p>=> SELECT ename, job, sal, deptno FROM emp WHERE job NOT IN ('manager','clerk','analyst');

4) 업무가 president 또는 salesman이고 급여가 1500인 직원의 이름, 급여, 업무, 부서번호 조회
</p>=> SELECT ename, sal, job, deptno FROM emp WHERE job IN('president','salesman') and sal = 1500;

5) 가장 최근에 입사한 직원의 이름, 부서, 업무, 입사일자 조회
</p>=> SELECT ename, deptno, job, max(hiredate) FROM emp ORDER BY hiredate desc;

6) 같은 부서내에서 같은 업무를 하는 직원의 급여가 많은 순으로 조회
</p>=> SELECT deptno,job,sal FROM emp GROUP BY deptno,job HAVING deptno = deptno and job = job ORDER BY sal DESC;

7) 커미션이 급여보다 10%이상 많은 직원의 급여가 많은 순으로 조회
</p>=> SELECT * FROM emp GROUP BY comm,sal HAVING comm > sal*1.1;

8) 이름에 L자가 2개 있고 30번 부서이거나 직송상사가 7782인 직원의 이름, 부서, 직속상사 조회
</p>=> SELECT ename, deptno, mgr FROM emp WHERE ename LIkE 'L*2' and deptno = 30 or mgr = 7782;